
h2{
    text-align: center;
}
.dado {
    width: 100px;
    height: 100px;
    transition: transform .9s;
    transform-style: preserve-3d;
    margin: 0 auto;
    color: white;
    text-align: center;
    
}

.ladoA, .ladoB, .ladoC {
    position: absolute; /* Asegura que los lados se superpongan correctamente */
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ladoA {
    
    transform: rotateY(0deg) translateZ(50px);
}

.ladoB {
    
    transform: rotateX(-90deg) translateZ(-50px);
}

.ladoC {
   
    transform: rotateX(-180deg) translateZ(50px);
}


/* CONTADOR IMG ANIMATE */

#contador1 {
    padding: 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: "Fira Sans", sans-serif;
    color: transparent;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, #000 50%, #000 100%);
    background-size: auto 200%;
    background-position: 0 100%;
    /* Comenzar desde abajo */
    background-clip: text;
    
}



#contador2 {
    padding: 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: "Fira Sans", sans-serif;
    color: transparent;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, #000 50%, #000 100%);
    background-size: auto 200%;
    background-position: 0 100%;
    /* Comenzar desde abajo */
    background-clip: text;
}



#contador3 {
    padding: 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: "Fira Sans", sans-serif;
    color: transparent;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, #000 50%, #000 100%);
    background-size: auto 200%;
    background-position: 0 100%;
    /* Comenzar desde abajo */
    background-clip: text;
}

